<div class="container-fluid">
  <h1>{{title}}</h1>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="input-container text-center">
          <img style="width:80%" src="/assets/store/stickers.jpg">
          <br/>
          Stickers (x3) - $5.00
          <br/>
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=CQ67UG5R2G5NW">
            <button class="btn btn-success">Buy Now <span class="glyphicon glyphicon-shopping-cart"></span></button> 
          </a>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="input-container text-center">
          <img style="width:80%" src="/assets/store/shirt_black.png">
          <br/>
          Shirt - $20.00
          <br/>
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZKD8Q774ZU4TW">
            <button class="btn btn-success">Buy Now <span class="glyphicon glyphicon-shopping-cart"></span></button> 
          </a>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="input-container text-center">
          <img style="width:80%" src="/assets/store/hoody_black.png">
          <br/>
          Hoody - $30.00
          <br/>
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MDLPTNGU5T3CQ">
            <button class="btn btn-success">Buy Now <span class="glyphicon glyphicon-shopping-cart"></span></button> 
          </a>
      </div>
    </div>
  </div>
</div>