<div class="panel panel-default">
  <div class="panel-heading">
    <b>{{scorecard.course.name}}</b>
  </div>
  <div class="panel-body">
    <table style="width:100%">
      <tr class="course-table-row">
        <td class="course-table-header">
          <b>Distance</b>
        </td>
        <td class="course-table-cell text-align-center" *ngFor="let hole of scorecard.course.holes">
          <b>{{hole.distance}}</b>
        </td>
      </tr>
      <tr class="course-table-row">
        <td class="course-table-header">
          <b>Hole</b>
        </td>
        <td class="couse-table-cell text-align-center" *ngFor="let hole of scorecard.course.holes">
          <b>{{hole.number}}</b>
        </td>
      </tr>
      <tr class="course-table-row">
        <td class="course-table-header">
          <b>Par</b>
        </td>
        <td class="course-table-cell text-align-center" *ngFor="let hole of scorecard.course.holes">
          <b>{{hole.par}}</b>
        </td>
      </tr>
      <tr *ngFor="let playerScoreMap of scorecard.scores">
        <td class="course-table-header">
          {{playerScoreMap.player.username}}
        </td>
        <td *ngFor="let score of playerScoreMap.scores" class="course-table-cell text-align-center">
          {{score.score}}
        </td>
      </tr>
    </table>
  </div>
</div>