<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-lg-3">
        <b>{{scorecard.course.name}}</b>
      </div>
      <div class="col-lg-3">
        {{dateTime}}
      </div>
      <div class="col-lg-2">
        <b>Holes</b>
        {{totalHoles}}
      </div>
      <div class="col-lg-2">
        <b>Par</b>
        {{totalPar}}
      </div>
      <div class="col-lg-2">
        <b>Length</b>
        {{totalDistance}}
      </div>
    </div>
  </div>
  <div class="card-body">
    <ul>
      <li *ngFor="let teamScoreMap of teamScoreMaps">
        <div class="row">
          <div class="col-lg-6">
            <span class="player-names">
              {{teamScoreMap.players.join(", ")}}
            </span>
          </div>
          <div class="col-lg-6">
            <span class="player-scores">
              {{teamScoreMap.totalScore}}
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>