<div class="container-fluid">
  <h1>{{title}}</h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      <select id="courseSelect" [(ngModel)]="selectedCourse" (ngModelChange)="updateCurrentCourse()">
    <option *ngFor="let course of availableCourses" [ngValue]="course">{{course.name}}</option>
  </select>
    </div>
    <div class="panel-body">
      <div *ngIf="selectedCourse">
        <table class>
          <tr class="course-table-row">
            <td class="course-table-header">Distance</td>
            <td class="course-table-header text-align-center" *ngFor="let hole of currentScorecard.course.holes">{{hole.distance}}</td>
          </tr>
          <tr class="course-table-row">
            <td class="course-table-header">Hole</td>
            <td class="course-table-header text-align-center" *ngFor="let hole of currentScorecard.course.holes">{{hole.number}}</td>
          </tr>
          <tr class="course-table-row">
            <td class="course-table-header">Par</td>
            <td class="course-table-header text-align-center" *ngFor="let hole of currentScorecard.course.holes">{{hole.par}}</td>
          </tr>
          <tr class="course-table-row" *ngFor="let player of getCurrentPlayers()">
            <td class="course-table-header">{{player.username}}</td>
            <td class="course-table-cell text-align-center" *ngFor="let hole of currentScorecard.course.holes">
              <input [(ngModel)]="currentScorecard.scores[getPlayerIndex(player)].scores[hole.number - 1].value" class="form-control text-align-center">
            </td>
          </tr>
        </table>
        <div *ngIf="availablePlayers.length">
          <select id="playerSelect" [(ngModel)]="selectedPlayer">
            <option *ngFor="let player of availablePlayers" [ngValue]="player">{{player.username}}</option>
          </select>
          <button (click)="updateCurrentPlayers()" class="btn btn-success">Add Player</button>
        </div>
        <div class="text-align-center">
          <button class="btn btn-success" (click)="saveCurrentScorecard()">Save</button>
          <button class="btn btn-danger">Reset</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-scorecard *ngFor="let scorecard of scorecards" [course]="scorecard.course" [scores]="scorecard.scores"></app-scorecard>
  </div>
</div>