<div class="card">
  <div class="card-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <b>{{course.name}}</b>
        </div>
        <div class="col-lg-4">
          {{course.street}}
        </div>
        <div class="col-lg-4">
          {{course.city}} {{course.state}} {{course.zip}}
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          Holes: {{course.holes.length}}
        </div>
        <div class="col-lg-4">
          Par: {{getTotalPar()}}
        </div>
        <div class="col-lg-4">
          Distance: {{getTotalDistance()}}
        </div>
      </div>
    </div>
  </div>
</div>