<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        {{title}}
      </a>
      <ul *ngIf="isLoggedIn" class="nav navbar-nav">
        <li>
          <a routerLink="/scores" routerLinkActive="active">Scores</a>
        </li>
        <li>
          <a routerLink="/leaderboard" routerLinkActive="active">Leaderboard</a>
        </li>
        <li>
          <a routerLink="/players" routerLinkActive="active">Players</a>
        </li>
        <li>
          <a routerLink="/courses" routerLinkActive="active">Courses</a>
        </li>
      </ul>
      <ul *ngIf="!isLoggedIn" class="nav navbar-nav">
        <li>
          <button (click)="login()">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>