<div class="fluid-container" style="padding-left: 0; padding-right: 0;">
  <header class="navbar navbar-light navbar-fixed-top navbar-expand-lg">

    {{title}}

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul *ngIf="isLoggedIn" class="navbar-nav ml-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['home']" routerLinkActive="active" (click)="navbarCollapsed = true">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['store']" routerLinkActive="active" (click)="navbarCollapsed = true">Store</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['scorecards']" routerLinkActive="active" (click)="navbarCollapsed = true">Scorecards</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['leaderboard']" routerLinkActive="active" (click)="navbarCollapsed = true">Leaderboard</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['courses']" routerLinkActive="active" (click)="navbarCollapsed = true">Courses</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" (click)="logout(); navbarCollapsed = true;">Logout</a>
        </li>
      </ul>
      <ul *ngIf="!isLoggedIn" class="navbar-nav ml-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['home']" routerLinkActive="active" (click)="navbarCollapsed = true">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['store']" routerLinkActive="active" (click)="navbarCollapsed = true">Store</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" (click)="login(); navbarCollapsed = true;">Login</a>
        </li>
      </ul>
    </div>
  </header>
</div>
<!-- end bugsplat navbar -->

<router-outlet></router-outlet>