<div style="display:block" @stepAnimation>
    <div class="account-wall">
      <form class="form-signin">
        <input #courseNameInput id="courseNameInput" type="text" class="form-control" placeholder="Name" required>
        <div style="text-align: center; height:20px"><span style="color:red">{{currentError}}</span></div>
        <button class="btn btn-lg btn-primary btn-block"
          (click)="setName(courseNameInput.value)">
          Next
        </button>
      </form>
    </div>
  </div>