<div class="container-fluid">
  <h1>{{title}}</h1>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="input-container">
        <form class="form-add-scorecard" [formGroup]="newScorecardForm" novalidate>
          <label for="course">Course</label>
          <select id="course" class="form-control" formControlName="course" required>
            <option *ngFor="let course of availableCourses" [value]="course.name">{{course.name}}</option>
          </select>
          <label for="player">Player</label>
          <select #playerSelect id="player" class="form-control" required>
            <option *ngFor="let player of availablePlayers" [value]="player.username">{{player.username}}</option>
          </select>
          <div *ngFor="let team of teams">
              <b>Team {{teams.indexOf(team)+1}}:</b> {{team}}
          </div>
          <button class="btn btn-success" [hidden]="availablePlayers.length == 0" (click)="addPlayer(playerSelect.value);">Add Player</button>
          <button class="btn btn-success" [hidden]="team.length == 0 || availablePlayers.length == 0" (click)="addTeam();">Add Team</button>
        </form>
        <p>Form value: {{ newScorecardForm.value | json }}</p>
        <p>Form status: {{ newScorecardForm.status | json }}</p>
      </div>
    </div>
  </div>
</div>