<div class="container-fluid">
  <h1>{{title}}</h1>
  <div class="row">
    <div class="col-sm-6" *ngFor="let statistic of statistics">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>{{statistic.title}}</b>
        </div>
        <div class="panel-body">
          <ol>
            <li *ngFor="let row of statistic.getRowsDescending()">
              {{row.player.username}}
              {{row.value}}
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>